@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  transition: all ease 1s;
}
/* 
CONTAINER || SPACING 
*/
.container-lg {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.container {
  max-width: 720px;
}
/* 
SELECT || WEBKIT HIGHLIGHT 
*/
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.disable-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
} */


